{% extends "user/index.html" %}
{% block body %}
<body>
<h2>What is phishing ? </h2>
<p><b>Phishing is a cybercrime in which a target or targets
 are contacted by email, telephone or text message by someone posing as a legitimate institution to lure individuals
 into providing sensitive data such as personally identifiable information, banking and credit card details, and passwords.
    The information is then used to access important accounts and can result in identity theft and financial loss.</b></p>
<b><h4>How does phishing work?</h4>
<p>Phishing starts with a fraudulent email or other communication designed to lure a victim. The message is made to look as though it comes from a trusted sender. If it fools the victim, he or she is coaxed into providing confidential information--often on a scam website. Sometimes malware is also downloaded onto the target's computer.

Cybercriminals start by identifying a group of individuals they want to target. Then they create email and text messages that appear to be legitimate but actually contain dangerous links, attachments, or lures that trick their targets into taking an unknown, risky action. In brief:

Phishers frequently use emotions like fear, curiosity, urgency, and greed to compel recipients to open attachments or click on links.
Phishing attacks are designed to appear to come from legitimate companies and individuals.
Cybercriminals are continuously innovating and becoming more and more sophisticated.
It only takes one successful phishing attack to compromise your network and steal your data, which is why it is always important to Think Before You Click.</p>
<h4>Tips to help prevent phishing attacks:</h4>
<p>
> Monitor your online accounts regularly<br>
> Keep your browser updated<br>
> Don't click on email links from unknown sources<br>
> Be aware of pop-up windows<br>
> Never give out personal information over email<br>
> Be wary of social, emotion lures<br>
> Track the latest phishing attacks
   <br>  <a href="https://www.cisco.com/c/dam/en/us/products/collateral/security/email-security/phishing-program-infographic.pdf">
         Click here to get
        tips to stop phishing (PDF by CISCO)</a>
    <h4>What should I do if I receive a phishing email?</h4>
<p>If you receive a suspicious email, the first step is to not open the email. Instead, report the email to your company or organization as suspected phishing.
        Most importantly, you never want to assume that a coworker has already reported a phishing attack. The sooner your IT and security teams are forewarned
        to the potential threat, the sooner your company can take actions to prevent it from damaging your network.

If you discern that you have accidently engaged with a phishing attack and gave out any internal information, you must report the occurrence immediately.
    If you don't report a phishing attack immediately, you could put your data and your company at risk.</p>
    <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
    <p>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
</b>
</body>

{% endblock %}